HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Keycloak specific ###rm -rf docker-compose/.env docker-compose/datarm -rf docker-compose/.env docker-compose/data
*.log
keycloak-*.json
realm-export.json
*.p12
*.jks
*.keystore
*.truststore

### Security ###
*.pem
*.key
client-secret.txt
./docker-compose/**
./docker-compose/.env
.idea
volumes/
data/**/mysql.sock
data/**/*.pem
data/**/*.key
data/**/*.cnf
data/**/ib_*
data/**/binlog.*
data/**/ibdata*
data/**/ibtmp*
data/**/*.ibd
data/**/auto.cnf
data/**/#ib_*
*.pid
