# docker
docker-compose.override.yml
Dockerfile*
.dockerignore
**/Dockerfile*
**/.dockerignore

# docker volumes - ignore sensitive data but keep structure
volumes/
data/**/mysql.sock
data/**/*.pem
data/**/*.key
data/**/*.cnf
data/**/ib_*
data/**/binlog.*
data/**/ibdata*
data/**/ibtmp*
data/**/*.ibd
data/**/auto.cnf
data/**/#ib_*
*.pid

# docker-compose logs
*.log

# docker containers
*.sock
/dev/data/keycloak/#innodb_redo/#ib_redo20
/dev/data/keycloak/#innodb_redo/#ib_redo41_tmp
/dev/data/keycloak/#innodb_redo/#ib_redo42_tmp
/dev/data/keycloak/#innodb_redo/#ib_redo43_tmp
/dev/data/keycloak/#innodb_redo/#ib_redo44_tmp
/dev/data/keycloak/#innodb_redo/#ib_redo45_tmp
/dev/data/keycloak/#innodb_redo/#ib_redo46_tmp
/dev/data/keycloak/#innodb_redo/#ib_redo47_tmp
/dev/data/keycloak/#innodb_redo/#ib_redo48_tmp
/dev/data/keycloak/#innodb_redo/#ib_redo49_tmp
/dev/data/keycloak/#innodb_redo/#ib_redo50_tmp
/dev/data/keycloak/#innodb_redo/#ib_redo51_tmp
/dev/data/grafana/plugins/grafana-lokiexplore-app/3d96a93cfcb32df74eef.svg
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/5e493d758066ba82f810.wasm
/dev/data/grafana/plugins/grafana-pyroscope-app/img/8cdf4d2e2df8326311ab.gif
/dev/data/grafana/plugins/grafana-pyroscope-app/img/9c9cdd5175734d579007.png
/dev/data/grafana/plugins/grafana-pyroscope-app/36.js
/dev/data/grafana/plugins/grafana-pyroscope-app/36.js.map
/dev/data/grafana/plugins/grafana-pyroscope-app/img/58f0b0e1cfa063e4b662.png
/dev/data/grafana/plugins/grafana-pyroscope-app/img/61b4cf746a6f58780f27.png
/dev/data/grafana/plugins/grafana-exploretraces-app/67.js
/dev/data/grafana/plugins/grafana-exploretraces-app/67.js.map
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/78.js
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/78.js.map
/dev/data/grafana/plugins/grafana-lokiexplore-app/82.js
/dev/data/grafana/plugins/grafana-lokiexplore-app/82.js.map
/dev/data/grafana/plugins/grafana-lokiexplore-app/83.js
/dev/data/grafana/plugins/grafana-lokiexplore-app/83.js.LICENSE.txt
/dev/data/grafana/plugins/grafana-lokiexplore-app/83.js.map
/dev/data/grafana/plugins/grafana-exploretraces-app/142.js
/dev/data/grafana/plugins/grafana-exploretraces-app/142.js.map
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/166.js
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/166.js.LICENSE.txt
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/166.js.map
/dev/data/grafana/plugins/grafana-exploretraces-app/327.js
/dev/data/grafana/plugins/grafana-exploretraces-app/327.js.map
/dev/data/grafana/plugins/grafana-lokiexplore-app/328.js
/dev/data/grafana/plugins/grafana-lokiexplore-app/328.js.map
/dev/data/grafana/plugins/grafana-pyroscope-app/350.js
/dev/data/grafana/plugins/grafana-pyroscope-app/350.js.LICENSE.txt
/dev/data/grafana/plugins/grafana-pyroscope-app/350.js.map
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/384.js
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/384.js.map
/dev/data/grafana/plugins/grafana-exploretraces-app/397.js
/dev/data/grafana/plugins/grafana-exploretraces-app/397.js.map
/dev/data/grafana/plugins/grafana-exploretraces-app/448.js
/dev/data/grafana/plugins/grafana-exploretraces-app/448.js.LICENSE.txt
/dev/data/grafana/plugins/grafana-exploretraces-app/448.js.map
/dev/data/grafana/plugins/grafana-lokiexplore-app/470.js
/dev/data/grafana/plugins/grafana-lokiexplore-app/470.js.LICENSE.txt
/dev/data/grafana/plugins/grafana-lokiexplore-app/470.js.map
/dev/data/grafana/plugins/grafana-lokiexplore-app/546.js
/dev/data/grafana/plugins/grafana-lokiexplore-app/546.js.map
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/601.js
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/601.js.map
/dev/data/grafana/plugins/grafana-lokiexplore-app/677.js
/dev/data/grafana/plugins/grafana-lokiexplore-app/677.js.map
/dev/data/grafana/plugins/grafana-exploretraces-app/712.js
/dev/data/grafana/plugins/grafana-exploretraces-app/712.js.map
/dev/data/grafana/plugins/grafana-exploretraces-app/767.js
/dev/data/grafana/plugins/grafana-lokiexplore-app/767.js
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/767.js
/dev/data/grafana/plugins/grafana-exploretraces-app/767.js.map
/dev/data/grafana/plugins/grafana-lokiexplore-app/767.js.map
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/767.js.map
/dev/data/grafana/plugins/grafana-lokiexplore-app/826.js
/dev/data/grafana/plugins/grafana-lokiexplore-app/826.js.map
/dev/data/grafana/plugins/grafana-lokiexplore-app/854.js
/dev/data/grafana/plugins/grafana-lokiexplore-app/854.js.map
/dev/data/grafana/plugins/grafana-lokiexplore-app/919.js
/dev/data/grafana/plugins/grafana-lokiexplore-app/919.js.map
/dev/data/grafana/plugins/grafana-exploretraces-app/927.js
/dev/data/grafana/plugins/grafana-exploretraces-app/927.js.map
/dev/data/grafana/plugins/grafana-lokiexplore-app/944.js
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/944.js
/dev/data/grafana/plugins/grafana-lokiexplore-app/944.js.map
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/944.js.map
/dev/data/grafana/plugins/grafana-exploretraces-app/img/944c737f589d02ecf603.svg
/dev/data/grafana/plugins/grafana-pyroscope-app/944c737f589d02ecf603.svg
/dev/data/grafana/plugins/grafana-exploretraces-app/img/1382cadfeb81ccdaa67d.svg
/dev/data/grafana/plugins/grafana-lokiexplore-app/1759fd27b2c9f73dea05.wasm
/dev/data/grafana/plugins/grafana-lokiexplore-app/649058283f564041551d.wasm
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/ac01ecbc64128d2f3e68.svg
/dev/data/keycloak/keycloak_db/admin_event_entity.ibd
/dev/data/keycloak/keycloak_db/associated_policy.ibd
/dev/data/keycloak/keycloak_db/authentication_execution.ibd
/dev/data/keycloak/keycloak_db/authentication_flow.ibd
/dev/data/keycloak/keycloak_db/authenticator_config.ibd
/dev/data/keycloak/keycloak_db/authenticator_config_entry.ibd
/dev/data/grafana/plugins/grafana-pyroscope-app/img/bafee50693eb02088442.png
/dev/data/keycloak/binlog.000003
/dev/data/product/binlog.000003
/dev/data/user/binlog.000003
/dev/data/keycloak/binlog.000004
/dev/data/product/binlog.000004
/dev/data/user/binlog.000004
/dev/data/keycloak/binlog.000005
/dev/data/product/binlog.000005
/dev/data/user/binlog.000005
/dev/data/keycloak/binlog.000006
/dev/data/product/binlog.000006
/dev/data/user/binlog.000006
/dev/data/keycloak/binlog.000007
/dev/data/product/binlog.000007
/dev/data/user/binlog.000007
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/img/breakdown.png
/dev/data/keycloak/keycloak_db/broker_link.ibd
/dev/data/grafana/plugins/grafana-exploretraces-app/CHANGELOG.md
/dev/data/grafana/plugins/grafana-lokiexplore-app/CHANGELOG.md
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/CHANGELOG.md
/dev/data/grafana/plugins/grafana-pyroscope-app/CHANGELOG.md
/dev/data/keycloak/keycloak_db/client.ibd
/dev/data/keycloak/keycloak_db/client_attributes.ibd
/dev/data/keycloak/keycloak_db/client_auth_flow_bindings.ibd
/dev/data/keycloak/keycloak_db/client_initial_access.ibd
/dev/data/keycloak/keycloak_db/client_node_registrations.ibd
/dev/data/keycloak/keycloak_db/client_scope.ibd
/dev/data/keycloak/keycloak_db/client_scope_attributes.ibd
/dev/data/keycloak/keycloak_db/client_scope_client.ibd
/dev/data/keycloak/keycloak_db/client_scope_role_mapping.ibd
/dev/data/keycloak/keycloak_db/component.ibd
/dev/data/keycloak/keycloak_db/component_config.ibd
/dev/data/keycloak/keycloak_db/composite_role.ibd
/dev/data/keycloak/keycloak_db/credential.ibd
/dev/data/keycloak/keycloak_db/databasechangelog.ibd
/dev/data/keycloak/keycloak_db/databasechangeloglock.ibd
/dev/data/grafana/plugins/grafana-pyroscope-app/img/decrease-latency.png
/dev/data/keycloak/keycloak_db/default_client_scope.ibd
/dev/data/grafana/plugins/grafana-pyroscope-app/img/diff-view-how-to.gif
/dev/data/grafana/plugins/grafana-lokiexplore-app/img/drilldown-features.png
/dev/data/grafana/plugins/grafana-pyroscope-app/e6c722427cfa8715e19d.svg
/dev/data/grafana/plugins/grafana-exploretraces-app/img/e79edcfbe2068fae2364.svg
/dev/data/grafana/plugins/grafana-pyroscope-app/e79edcfbe2068fae2364.svg
/dev/data/grafana/plugins/grafana-exploretraces-app/img/errors-metric-flow.png
/dev/data/grafana/plugins/grafana-exploretraces-app/img/errors-root-cause.png
/dev/data/keycloak/keycloak_db/event_entity.ibd
/dev/data/grafana/plugins/grafana-lokiexplore-app/img/explore-logs-features.jpeg
/dev/data/keycloak/keycloak_db/fed_user_attribute.ibd
/dev/data/keycloak/keycloak_db/fed_user_consent.ibd
/dev/data/keycloak/keycloak_db/fed_user_consent_cl_scope.ibd
/dev/data/keycloak/keycloak_db/fed_user_credential.ibd
/dev/data/keycloak/keycloak_db/fed_user_group_membership.ibd
/dev/data/keycloak/keycloak_db/fed_user_required_action.ibd
/dev/data/keycloak/keycloak_db/fed_user_role_mapping.ibd
/dev/data/keycloak/keycloak_db/federated_identity.ibd
/dev/data/keycloak/keycloak_db/federated_user.ibd
/dev/data/grafana/plugins/grafana-lokiexplore-app/img/fields.png
/dev/data/grafana/grafana.db
/dev/data/grafana/plugins/grafana-exploretraces-app/components/states/EmptyState/img/grot-404-dark.svg
/dev/data/grafana/plugins/grafana-pyroscope-app/pages/ProfilesExplorerView/components/SceneByVariableRepeaterGrid/components/SceneEmptyState/ui/img/grot-404-dark.svg
/dev/data/grafana/plugins/grafana-exploretraces-app/components/states/EmptyState/img/grot-404-light.svg
/dev/data/grafana/plugins/grafana-pyroscope-app/pages/ProfilesExplorerView/components/SceneByVariableRepeaterGrid/components/SceneEmptyState/ui/img/grot-404-light.svg
/dev/data/grafana/plugins/grafana-lokiexplore-app/img/grot_err.svg
/dev/data/grafana/plugins/grafana-lokiexplore-app/img/grot_err_light.svg
/dev/data/grafana/plugins/grafana-lokiexplore-app/img/grot_loki.svg
/dev/data/keycloak/keycloak_db/group_attribute.ibd
/dev/data/keycloak/keycloak_db/group_role_mapping.ibd
/dev/data/grafana/plugins/grafana-pyroscope-app/img/hero-image.png
/dev/data/grafana/plugins/grafana-exploretraces-app/img/histogram-breakdown.png
/dev/data/keycloak/keycloak_db/identity_provider.ibd
/dev/data/keycloak/keycloak_db/identity_provider_config.ibd
/dev/data/keycloak/keycloak_db/identity_provider_mapper.ibd
/dev/data/keycloak/keycloak_db/idp_mapper_config.ibd
/dev/data/keycloak/keycloak_db/keycloak_group.ibd
/dev/data/keycloak/keycloak_db/keycloak_role.ibd
/dev/data/grafana/plugins/grafana-exploretraces-app/LICENSE
/dev/data/grafana/plugins/grafana-lokiexplore-app/LICENSE
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/LICENSE
/dev/data/grafana/plugins/grafana-pyroscope-app/LICENSE
/dev/data/grafana/plugins/grafana-exploretraces-app/img/logo.svg
/dev/data/grafana/plugins/grafana-lokiexplore-app/img/logo.svg
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/img/logo.svg
/dev/data/grafana/plugins/grafana-pyroscope-app/img/logo.svg
/dev/data/grafana/plugins/grafana-exploretraces-app/MANIFEST.txt
/dev/data/grafana/plugins/grafana-lokiexplore-app/MANIFEST.txt
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/MANIFEST.txt
/dev/data/grafana/plugins/grafana-pyroscope-app/MANIFEST.txt
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/img/metrics-drilldown.png
/dev/data/keycloak/keycloak_db/migration_model.ibd
/dev/data/grafana/plugins/grafana-exploretraces-app/module.js
/dev/data/grafana/plugins/grafana-lokiexplore-app/module.js
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/module.js
/dev/data/grafana/plugins/grafana-pyroscope-app/module.js
/dev/data/grafana/plugins/grafana-exploretraces-app/module.js.map
/dev/data/grafana/plugins/grafana-lokiexplore-app/module.js.map
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/module.js.map
/dev/data/grafana/plugins/grafana-pyroscope-app/module.js.map
/dev/data/keycloak/keycloak_db/offline_client_session.ibd
/dev/data/keycloak/keycloak_db/offline_user_session.ibd
/dev/data/keycloak/keycloak_db/org.ibd
/dev/data/keycloak/keycloak_db/org_domain.ibd
/dev/data/grafana/plugins/grafana-lokiexplore-app/img/patterns.png
/dev/data/grafana/plugins/grafana-exploretraces-app/plugin.json
/dev/data/grafana/plugins/grafana-lokiexplore-app/plugin.json
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/plugin.json
/dev/data/grafana/plugins/grafana-pyroscope-app/plugin.json
/dev/data/keycloak/keycloak_db/policy_config.ibd
/dev/data/grafana/plugins/grafana-pyroscope-app/shared/infrastructure/profile-metrics/profile-metrics.json
/dev/data/keycloak/keycloak_db/protocol_mapper.ibd
/dev/data/keycloak/keycloak_db/protocol_mapper_config.ibd
/dev/data/grafana/plugins/grafana-exploretraces-app/README.md
/dev/data/grafana/plugins/grafana-lokiexplore-app/README.md
/dev/data/grafana/plugins/grafana-metricsdrilldown-app/README.md
/dev/data/grafana/plugins/grafana-pyroscope-app/README.md
/dev/data/keycloak/keycloak_db/realm.ibd
/dev/data/keycloak/keycloak_db/realm_attribute.ibd
/dev/data/keycloak/keycloak_db/realm_default_groups.ibd
/dev/data/keycloak/keycloak_db/realm_enabled_event_types.ibd
/dev/data/keycloak/keycloak_db/realm_events_listeners.ibd
/dev/data/keycloak/keycloak_db/realm_localizations.ibd
/dev/data/keycloak/keycloak_db/realm_required_credential.ibd
/dev/data/keycloak/keycloak_db/realm_smtp_config.ibd
/dev/data/keycloak/keycloak_db/realm_supported_locales.ibd
/dev/data/keycloak/keycloak_db/redirect_uris.ibd
/dev/data/grafana/plugins/grafana-pyroscope-app/img/reduce-costs.png
/dev/data/keycloak/keycloak_db/required_action_config.ibd
/dev/data/keycloak/keycloak_db/required_action_provider.ibd
/dev/data/grafana/plugins/grafana-pyroscope-app/img/resolve-incidents.png
/dev/data/keycloak/keycloak_db/resource_attribute.ibd
/dev/data/keycloak/keycloak_db/resource_policy.ibd
/dev/data/keycloak/keycloak_db/resource_scope.ibd
/dev/data/keycloak/keycloak_db/resource_server.ibd
/dev/data/keycloak/keycloak_db/resource_server_perm_ticket.ibd
/dev/data/keycloak/keycloak_db/resource_server_policy.ibd
/dev/data/keycloak/keycloak_db/resource_server_resource.ibd
/dev/data/keycloak/keycloak_db/resource_server_scope.ibd
/dev/data/keycloak/keycloak_db/resource_uris.ibd
/dev/data/keycloak/keycloak_db/revoked_token.ibd
/dev/data/keycloak/keycloak_db/role_attribute.ibd
/dev/data/keycloak/keycloak_db/scope_mapping.ibd
/dev/data/keycloak/keycloak_db/scope_policy.ibd
/dev/data/grafana/plugins/grafana-exploretraces-app/utils/trace-merge/test-responses/service-struct.json
/dev/data/grafana/plugins/grafana-lokiexplore-app/img/service_logs.jpg
/dev/data/grafana/plugins/grafana-lokiexplore-app/img/table.png
/dev/data/keycloak/keycloak_db/user_attribute.ibd
/dev/data/keycloak/keycloak_db/user_consent.ibd
/dev/data/keycloak/keycloak_db/user_consent_client_scope.ibd
/dev/data/keycloak/keycloak_db/user_entity.ibd
/dev/data/keycloak/keycloak_db/user_federation_config.ibd
/dev/data/keycloak/keycloak_db/user_federation_mapper.ibd
/dev/data/keycloak/keycloak_db/user_federation_mapper_config.ibd
/dev/data/keycloak/keycloak_db/user_federation_provider.ibd
/dev/data/keycloak/keycloak_db/user_group_membership.ibd
/dev/data/keycloak/keycloak_db/user_required_action.ibd
/dev/data/keycloak/keycloak_db/user_role_mapping.ibd
/dev/data/keycloak/keycloak_db/username_login_failure.ibd
/dev/data/keycloak/keycloak_db/web_origins.ibd
/dev/data/keycloak/binlog.000014
/dev/data/user/binlog.000012
/dev/data/keycloak/#innodb_redo/#ib_redo21
/dev/data/keycloak/#innodb_redo/#ib_redo52_tmp
/dev/data/product/binlog.000009
/dev/data/user/binlog.000009
/dev/data/keycloak/binlog.000010
/dev/data/product/binlog.000010
/dev/data/user/binlog.000010
/dev/data/keycloak/binlog.000011
/dev/data/product/binlog.000011
/dev/data/user/binlog.000011
/dev/data/keycloak/binlog.000012
/dev/data/product/binlog.000012
/dev/data/keycloak/binlog.000013
/dev/data/product/binlog.000013
/dev/data/user/binlog.000013
/dev/data/product/binlog.000014
/dev/data/keycloak/binlog.000015
/dev/data/product/binlog.000015
/dev/data/user/binlog.000015
/dev/data/product/binlog.000016
